# Blood Test Results
## Blood Test Results

## Overview

### Classification

Data

### Value

18,000 CR

### Settlement Type

?

### Building Type

AGRI, RES

### Container Type

Laboratory Data Port

## Recipes

Headshot Damage

> 
> 
> Blood test data related to settlement health checks and policy adherence.
> 
> 
> — In-Game Description
> 

**Blood Test Results** is a type of Data that can be obtained from settlements in *Elite Dangerous: Odyssey*.